body {
  background: #5e6893;
  font-family: "Elms Sans", Arial, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
button,
.card,
.form-label,
.form-control,
.input-group-text,
.btn,
.formula-box,
.alert,
.table,
.table th,
.table td,
small,
.form-text {
  font-family: "Elms Sans", Arial, sans-serif !important;
}
.card {
  box-shadow: 0 0.5rem 1rem rgba(202, 213, 226, 0.35) !important;
}
